/* Write your CSS here */
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
.suggestion {
    color: #475569;
  font-family: 'Roboto';
}
.arrow-image {
  height: 25px;
}
